<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Pump_Sim.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Pump_Sim.Properties.Settings>
            <setting name="TBHost" serializeAs="String">
                <value>YOUR-THINGSBOARD-URL.com.au</value>
            </setting>
            <setting name="TBPort" serializeAs="String">
                <value>443</value>
            </setting>
            <setting name="LevelSensorAccessToken" serializeAs="String">
                <value>YOUR-ACCESS-TOKEN-FOR-WATER-LEVEL-SENSOR</value>
            </setting>
            <setting name="PumpControllerAccessToken" serializeAs="String">
                <value>YOUR-ACCESS-TOKEN-FOR-PUMP-CONTROLLER</value>
            </setting>
        </Pump_Sim.Properties.Settings>
    </userSettings>
</configuration>
